@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* COPIAR TODO AL INICIO */
:root{
    --rojoOscuro: #620707;
    --vinoTinto: #330a0a;
    --negro: #000000;
    --GrisOscuro: rgb(30, 29, 29);
    --Blanco: #ffffff; 
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto";
}

header{
    background-color: var(--vinoTinto);
}
#logo-busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--vinoTinto);
}
.logo{
    width: 30%;
}

.busqueda {
    text-align: left;
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 2rem;

}

#barraBusqueda {
    width: 100%;
    height: 2.2rem;
    border: none;
    border-radius: 4px 0 0 4px;
    ;
    padding-left: 0.5rem;
    background-color: var(--Blanco);
}

.fa-solid.fa-magnifying-glass{
    color: grey;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
}

#botonLupa {
    background-color: var(--Blanco);
    border-left: 1px solid var(--Blanco);
    border-radius: 0 4px 4px 0;
    align-self: stretch;
}

nav {display: none;}

nav li {margin: 0 5px;}
nav a {
    color: var(--Blanco);
    display: inline-block;
    text-decoration: none;
    padding: 3px 0;
    font-size: 14px;
}

.burger-menu {
    background-color: var(--negro);
    color: var(--Blanco);
    display: block;
    max-width: 40px;
    text-align: center;
    border-radius: 15%;
    padding: 10px 0;
    margin: auto;
    margin-top: 1rem;
}

.fa-bars {font-size: 20px;}

/* HASTA ACÁ */
.main-completo{
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
}

li{
    list-style-type:none;

}

.sectionProductosCarrito{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border: solid 0px #ebebeb;
    padding: 10px;
    margin: 10px 10px;
    box-shadow: 0px 0px 10px rgb(100 100 100);

}

.cuadroTotalCarrito{
    display: flex;
}

.fotoProducto{
    width: 30%;
}

img{
    max-width: 100%;
    vertical-align: top;
}

.cantidadYvalorProducto{
    display: flex;
    align-items: center;
}

.fotoProducto{
    display: flex;
    text-align: center;
    width: 15%;
}

.precioDescripcionProducto{
    display: flex;
}

.cantidadProductoCarrito{
    display: flex;
}

.detalleCompra{
    display: flex;
}

.imagenLogo{
    display: flex;
    width: 30%;
}

.simbolo{
    display: flex;
}

.descripcionProducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionDetalleCompra{
    display: flex;
    justify-content: center;
}

.resumenCarrito{
    display: flex;
}



/* ----------------------TABLET---------------------------- */
@media (min-width: 768px){
    .burger-menu{
        display: none;
    }
    nav{
        display: flex;
    }
    .navFlex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 40px;
    }
    .lista1flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 45%;
        list-style: none;
    }
    .lista2flex{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 45%;
        list-style: none;
    }
    
}
/* -------------------------------------------------------- */