/* CONFIGURACION DE PALETA DE COLORES */
:root{
    --rojoOscuro: #620707;
    --vinoTinto: #330a0a;
    --negro: #000000;
    --GrisOscuro: rgb(30, 29, 29);
    --Blanco: #ffffff; 
}

/* CONFIGURACION DEL HEADER */

/* CONFIGURACION GENERAL */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#check{
    display: none;
}

.fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    position: relative;
    right: 180%;
    background-color: white;
}

/* CONFIGURACION MOVIL */

header{
    background-color: var(--vinoTinto);
    position: absolute;
    width: 100%;
}

/* CONFIGURACION DE LA IMAGEN */

.enlace-imagen{
    padding: 20px 50px;
}

.logo-imagen{
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo{
    position: relative;
    right: 20px;
    width: 100px;
    height: 100px;
}

/* -------------------------------------- */

/* CONFIGURACION DE LA BARRA DE BUSQUEDA */
.logo-barraDeBusqueda{
    display: flex;
    align-items: center;
}

.barraDeBusqueda{
    width: 50%;
}

.barra-de-busqueda{
    width: 80%;
    border-radius: 6px;
    border: solid white 15px;
}

/* ----------------------------------------------------- */

/* CONFIGURACION DE TODO EL NAV */

.checkbtn{
    display: block;
}

nav{
    background-color: var(--vinoTinto);
}

ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #620707;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a{
    font-size: 20px;
}

#check:checked ~ ul{
    left: 0;
} 

/* CONFIGURACION DEL BARS */

.bars{
    text-align: center;
}
/* FIN DEL HEADER-------------------------------------------------------------------------- */

/* INICIO DEL MAIN -------------------------------------------------------------------------*/

body{
    background-color: var(--GrisOscuro);
}

main{
    position: absolute;
    top: 28%;
    left: 20%;
}

.login-box{
    background-color: var(--rojoOscuro);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: solid 3px var(--vinoTinto);
}

.login-box h1{
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--Blanco);
    font-weight: bold;
    font-size: 35px;
}

.login-box a{
    color: var(--Blanco);
    font-size: 15px;
    text-align: center;
}

.login-box label{
    color: var(--Blanco);
    font-size: 12px;
}

.cdi{
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: solid 5px var(--Blanco);

}

.cdb-padre{
    text-align: center;
    margin: 0;
    padding: 0%;
}

.cdb{
    margin-top: 3px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: solid 5px blue;
}

.contenedorDeA{
    text-align: center;
}

/* FIN DEL MAIN---------------------------------------------------------------------- */

/* --------------------------------------------- */

.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
    color: white;
}

.caja-padre{
    display: none;
}

/* ------------------------------------------------------------------------------------------------------------ */

 /* CONFIGURACION DE TABLET */
@media (min-width: 700px){
    .bars{
        display: none;
         }
    .caja-padre{
        display: block;
    }

/* CONFIGURACION DE LA IMAGEN */

.logo-imagen{
    width: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo{
    width: 70%;
    height: 100px;
    position: relative;
    left: 2px;
}

/* -------------------------------------------------- */

 /* CONFIGURACION DEL NAV */   

 li a.active, li a:hover{
    background: var(--vinoTinto);
    transition: .5s;
    border-radius: 4px;
    padding:15px;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 70px;
}

nav ul li a{
    color: var(--Blanco);
    font-size: 20px;
    text-transform: uppercase;
}

nav ul{
    background-color: var(--rojoOscuro);
}

ul{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:#620707;
    top: initial;
    left: initial;
    text-align: center;
    transition: all .5s;
}
}


/* INICIO DEL MAIN -------------------------------------------------------------------------*/

body{
    background-color: var(--GrisOscuro);
}

main{
    position: absolute;
    top: 28%;
    left: 20%;
}

.login-box{
    background-color: var(--rojoOscuro);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: solid 3px var(--vinoTinto);
}

.login-box h1{
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--Blanco);
    font-weight: bold;
    font-size: 35px;
}

.login-box a{
    color: var(--Blanco);
    font-size: 15px;
    text-align: center;
}

.login-box label{
    color: var(--Blanco);
    font-size: 12px;
}

.cdi{
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: solid 5px var(--Blanco);

}

.cdb-padre{
    text-align: center;
    margin: 0;
    padding: 0%;
}

.cdb{
    margin-top: 3px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: solid 5px blue;
}

.contenedorDeA{
    text-align: center;
}

/* FIN DEL MAIN---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */

/* CONFIGURACION DESKTOP */
@media (min-width: 1100px){
    .bars{
        display: none;
         }
    .caja-padre{
        display: block;
    }

/* CONFIGURACION DE LA IMAGEN */

.logo-imagen{
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo{
    width: 70%;
    height: 100px;
    position: relative;
    left: 5px;
}

/* -------------------------------------------------- */

 /* CONFIGURACION DEL NAV */   

 li a.active, li a:hover{
    background: var(--vinoTinto);
    transition: .5s;
    border-radius: 4px;
    padding:15px;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 70px;
}

nav ul li a{
    color: var(--Blanco);
    font-size: 20px;
    text-transform: uppercase;
}

nav ul{
    background-color: var(--rojoOscuro);
}

ul{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:#620707;
    top: initial;
    left: initial;
    text-align: center;
    transition: all .5s;
}

}

/* INICIO DEL MAIN -------------------------------------------------------------------------*/

body{
    background-color: var(--GrisOscuro);
}

main{
    position: absolute;
    top: 30%;
    left: 40%;
}

.login-box{
    background-color: var(--rojoOscuro);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: solid 3px var(--vinoTinto);
}

.login-box h1{
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--Blanco);
    font-weight: bold;
    font-size: 35px;
}

.login-box a{
    color: var(--Blanco);
    font-size: 15px;
    text-align: center;
}

.login-box label{
    color: var(--Blanco);
    font-size: 12px;
}

.cdi{
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: solid 5px var(--Blanco);

}

.cdb-padre{
    text-align: center;
    margin: 0;
    padding: 0%;
}

.cdb{
    margin-top: 3px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: solid 5px blue;
    transition: all .5s;
}

.contenedorDeA{
    text-align: center;
}

/* FIN DEL MAIN---------------------------------------------------------------------- */

 /* ------------------------------------------------------------------------- */