<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
        <link rel="stylesheet" href="/css/carrito.css">  
        <title>CARRITO</title>
    </head>
<body>
    <header> 
        <section class="nav-header">
                <img src="/img/LOGO.png" alt="LogoFH">                                                                        
            <section class="header-input">
                <form action="/buscar" method="POST">
                    <div class="header-campo-busqueda"> 
                        <input type="text" placeholder="Buscá productos" required="">
                    </div>
                    <div class="header-lupa"> 
                        <button class="icono-lupa-input"><i class="fa-solid fa-magnifying-glass"></i></button>               
                    </div>                  
                </form>
            </section>
       </section>          
        </section> 
                <nav name="estiloNav">
                   <ul class="lista-navegacion-header-izq">
                    <li><a class="active" href="/">inicio</a></li>                   
                    <li><a href="#">registrarse</a></li>
                    <li><a href="/productos">productos</a></li>
                    <li><a href="/quienes-somos">nosotros</a></li>   
                    <li><a href="/carrito">carrito</a></li>  
                   </ul>
                   <ul class="lista-navegacion-header-der">
                    <div name="userinfo">
                    <li><a href="/loggin">ingresar</a></li>
                    </div>
                    </ul>
                </nav>            
                <div class="icono-burga-header">                      
                    <i class="fas fa-bars icono-burga-clase"></i>
                </div>
                                                                   
    </header>
    <main>
        <section name="cuadroDatosUsuario">
            INICIÁ SESIÓN:
            <ul class="nav nav-inline m-y-2">
                <li class="nav-item">
                        <BR>
                            EMAIL:
                </li>
                <input class="form-control" name="email" type="email" value="" required="" id="email_52823">
                <li class="nav-item">
                        CONTRASEÑA:
            </li>
            <input class="form-control" name="email" type="email" value="" required="" id="email_52823">

                <li class="nav-item">
                    <div class="forgot-password">
                        <a href="https://www.fenixequipment.com.ar/recuperar-contrasena" rel="nofollow">
                          ¿Olvidó su contraseña?
                        </a>
                  </div>
                  <BR>
            CONTINAR COMO INVITADO:              
                </li>
                <li class="nav-item">
                    <span href="nav-separator"> | </span>
                </li>  

            </ul>
    <form>
            <div>
                <label>
                    <INput: TEX></INput>
                    Nombre:
                </label>
                <div class="col-md-6">
                    <input class="form-control" name="email" type="email" value="" required="" id="email_52823">
                </div>

            </div>
          
            <div>
                <label>
                    Apellido:
                </label>
                <div class="col-md-6">
            <input class="form-control" name="email" type="email" value="" required="" id="email_52823">
                    
                </div>
            <div>
          
        <div class="form-group row  label-effect">
            <label class="col-md-3 form-control-label label-text-cuit" for="cuit_52823">
                CUIT(solo empresas):
            </label>
            <div class="col-md-6">
                <input class="form-control" name="email" type="email" value="" required="" id="email_52823">

            </div>
                 
            
    <div class="form-group row  label-effect">
        <label class="col-md-3 form-control-label required label-text-customer_dni" for="customer_dni_52823">
                  DNI:
              </label>
        <div class="col-md-6">
            <input class="form-control" name="email" type="email" value="" required="" id="email_52823">
           </DIv>
    
    <div class="form-group row  label-effect">
      <label class="col-md-3 form-control-label required label-email-email" for="email_52823">
                Dirección de correo electrónico
            </label>
      <div class="col-md-6">
  
        
          <input class="form-control" name="email" type="email" value="" required="" id="email_52823">
        
      </div>
  
      
    
            
    </section>
  
    <footer class="form-footer clearfix">
      <input type="hidden" name="submitCreate" value="1">
      
      <button class="continue btn btn-primary pull-xs-right" name="continue" data-link-action="register-new-customer" type="submit" value="1">
          Continuar
      </button>
  
    </footer>
  
  </form>
  
        </div>

          


        <section name="cuadroDetallesProducto">
hola2            
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>