<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
        <link rel="stylesheet" href="../css/detalleProducto.css">
    
        <title>FitHouse</title>
    </head>
<body>
<!-- COPIAR HEADERS -->
<header>
    <section id="logo-busqueda">
        <img class="logo" src="/img/LOGO.png" alt="logo">
        <div class="busqueda">
            <input id="barraBusqueda" type="text" placeholder="Buscar productos, marcas">
            <a href="#" id="botonLupa"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        
    </section>
    <nav class="navFlex">
            <ul class="lista1flex">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/carrito">Carrito</a></li>
            </ul>
            <ul class="lista2flex">
                <li><a href="/registro">Creá tu cuenta</a><i id="iconos" class="far fa-id-card"></i></li> 
                <li><a href="/login">Ingresar</a><i id="iconos" class="fas fa-sign-in-alt"></i></li>
                <li><a href="/quienes-somos">Sobre Nosotros</a></li>
            </ul>
        </nav>
        <div class="burger-menu">  
            <i class="fa-solid fa-bars"></i>
        </div>
</header>
<!--CONTENEDOR DEL ITEM DESCRIPCION PRODUCTO -->
<main>
    <article class="it1">
        <div class="division" id="division">
            <div class="fila"></div>
            <div class="item"></div> 
            <div>
                 
            </div>
            </div>
            <!--CONTENEDOR DEL ITEM DESCRIPCION PRODUCTO -->
            <div class="seleccion" id="seleccion">
                <div class="cerrar">
                    #x2715
                </div>
                <div class="info">
                <img src="/img/1.jpg" alt="Imagen 1">
                <h2 id="modelo">TRAINING BAR 20KG 2.20MTS A BUJE</h2>
                <p id="descripcion">DESCRIPCION</p>
                <p id="descripcion2">Peso 20kg, Longitud 2.20mts, Tipo Buje, Zincado Brillante, Garantia 1 año. </p>

                <span class="precio" id="precio">$57.000</span>
                
                <div class="fila">
                    <div class="size">
                        <label for="">CANTIDAD</label>
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>                        
                        </select>
                    </div>
                    <button>AGREGAR AL CARRITO</button>
                </div>
                </div>
            </div>
    </article>
</main>

<footer>
    <div class="footer-content">
		<div class="footer-section about">
			<h3 class="logo-text">FITHOUSE</h3>
			<p>En FITHOUSE ofrecemos la mejor calidad en lo que es el cuidado fisico de tu cuerpo.</p>
			<div class="contact">
				<span><i class="fas fa-phone"></i> +54 9 999 999 9999</span>
				<span><i class="fas fa-envelope"></i> info@fithouse.com.ar</span>
			</div>
			<div class="socials">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
		<div class="footer-section links">
			<h3>Enlaces útiles</h3>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/productos">Productos</a></li>
				<li><a href="#">Servicios</a></li>
				<li><a href="/quienes-somos">Contáctenos</a></li>
			</ul>
		</div>
		<h3 class="footer-section contact-form">Contactenos</h3>


</footer>
<!----------FIN DE FOOTER--------------------------------------------------------------------------------------------->
</body>
</html>