<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
        <link rel="stylesheet" href="/css/detalleProducto.css">
        
    
        <title>FitHouse</title>
    </head>
<body>
<!-- COPIAR HEADERS -->
<%-include("./partials/header.ejs") %>
<!--CONTENEDOR DEL ITEM DESCRIPCION PRODUCTO -->
<main>
    <article class="it1">
        <div class="division" id="division">
            <div class="fila"></div>
            <div class="item"></div> 
            <div>
                 
            </div>
            </div>
            <!--CONTENEDOR DEL ITEM DESCRIPCION PRODUCTO -->
            <div class="seleccion" id="seleccion">
                <div class="cerrar">
                    #x2715
                </div>
                <div class="info">
                <img class= "product1" src="/img/1.jpg" alt="Imagen 1">
                <h2 id="modelo">TRAINING BAR 20KG 2.20MTS A BUJE</h2>
                <p id="descripcion">DESCRIPCION</p>
                <p id="descripcion2">Peso 20kg, Longitud 2.20mts, Tipo Buje, Zincado Brillante, Garantia 1 año. </p>

                <span class="precio" id="precio">$57.000</span>
                
                <div class="fila">
                    <div class="size">
                        <label for="">CANTIDAD</label>
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>                        
                        </select>
                    </div>
                    <button>ADD TO CART</button>
                </div>
                </div>
            </div>
    </article>
</main>

<%-include("./partials/footer.ejs") %>
<!----------FIN DE FOOTER--------------------------------------------------------------------------------------------->
</body>
</html>