<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="/css/styles.css">

    <title>Fenix Proyecto</title>
</head>
<body>

    <header>

        <nav>
            <!-- INICIO DEL NAV -->
            <div class="logo-barraDeBusqueda">
            <!-- codigo de imagen -->
            <div class="logo-imagen">
                <a href="#" class="enlace-imagen">
                    <img src="/img/documentos.jpg" alt="120" height="120" class="logo">
                </a>
            </div>    
            <!-- fin de codigo de imagen -->
    
            <!-- INICIO DE LA BARRA DE BUSQUEDA -->
            <div class="barraDeBusqueda">
                
                <form action="" action="">
                <input type="text" name="s" value="" placeholder="Búsqueda en catálogo" class="barra-de-busqueda" autocomplete="off">
                <i class="fa-solid fa-magnifying-glass"></i></form>
    
            </div>
            <!-- FIN DE LA BARRA DE BUSQUEDA -->
            </div>
            <!-- INICIO DEL UL -->
    
            <div class="caja-padre">
                <ul>
                    <li><a class="active" href="/">inicio</a></li>
                    <li><a href="/loggin">ingresar</a></li>
                    <li><a href="#">registrarse</a></li>
                    <li><a href="/productos">productos</a></li>
                    <li><a href="/quienes-somos">nosotros</a></li>   
                    <li><a href="/carrito">carrito</a></li>   
                </ul>
            </div>    
            <!-- FIN DEL UL -->
            <div class="bars">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                <i class="fas fa-bars menu"></i>
                </label>
            </div>
    
            <!-- FIN DEL NAV -->
    
        </nav>

    </header>

    <main>

    </main>

    <footer>

    </footer>

</body>
</html>