<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
        <link rel="stylesheet" href="/css/inicio.css">
    
        <title>FitHouse</title>
    </head>
<body>
<!-- COPIAR HEADERS -->
<header>
    <section id="logo-busqueda">
        <img class="logo" src="/img/LOGO.png" alt="logo">
        <div class="busqueda">
            <input id="barraBusqueda" type="text" placeholder="Buscar productos, marcas">
            <a href="#" id="botonLupa"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        
    </section>
    <nav class="navFlex">
            <ul class="lista1flex">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/carrito">Carrito</a></li>
            </ul>
            <ul class="lista2flex">
                <li><a href="/registro">Creá tu cuenta</a><i id="iconos" class="far fa-id-card"></i></li> 
                <li><a href="/login">Ingresar</a><i id="iconos" class="fas fa-sign-in-alt"></i></li>
                <li><a href="/quienes-somos">Sobre Nosotros</a></li>
            </ul>
        </nav>
        <div class="burger-menu">  
            <i class="fa-solid fa-bars"></i>
        </div>
</header>
<!-- COPIAR HEADERS -->
<!-- MAIN -->
<main>
<div class="banner">
    <img src="/img/banner.png" width="100%">
    </div>
<!--     <section class="container-all">
        <input type="radio" id="1" name="image-slide" hidden/>
        <input type="radio" id="2" name="image-slide" hidden/>
        <input type="radio" id="3" name="image-slide" hidden/>
   



        <section  class="pagination">
            <label class="pagination-item" for ="1">
                <img  src="img/1.jpg" alt="foto1">
            </label>

            
            <label class="pagination-item" for ="2">
                    <img  src="img/2.jpg" alt="foto2">
            </label>

            
            <label class="pagination-item" for ="3">
                        <img  src="img/3.jpg" alt="foto3">
            </label>

        </section>

    </section>  
 -->    
    

    <div class="tituloOfertas">OFERTAS SEMANALES</div>
    <div class="contenedor" >
        <section class="tarjetaOfertas">
            <img src="img/barra1.jpg" alt="">
            <div class="contenido">
                <h3>Barra para pesas</h3>
                <P >40% OFF</P>
                <a href="#">Leer mas </a>
            </div>
        </section>

        <section class="tarjetaOfertas">
            <img  src="img/banco1.jpg" alt="">
            <div class="contenido">
                <h3>Banco de musculación</h3>
                <P >40% OFF</P>
                <a href="#">Leer mas </a>
            </div>
        </section>
        
        <section class="tarjetaOfertas">
            <img src="img/KETTBELL.webp" alt="">
             <div class="contenido">
                <h3>Ketbell 8KG</h3>
                <P >40% OFF</P>
                <a href="#">Leer mas </a>
            </div>
        </section>
    </div>
    <section class="categorias"></section>
    <article class="tarjetaMain">
        <img src="img/categoriaK.avif" alt="">
        <div class="contenido">
           <h3>Categoría Ketbells </h3>
           <a href="#">Ingresar </a>
    </article>
    <article class="tarjetaMain">
        <img src="img/barra.jpeg" alt="">
        <div class="contenido">
           <h3>Categoría Barras </h3>
           <a href="#">Ingresar </a>
    </article>
    <article class="tarjetaMain">
        <img src="img/colchoneta.jpeg" alt="">
        <div class="contenido">
           <h3>Categoría Colchonetas </h3>
           <a href="#">Ingresar </a>
    </article>
    <article class="tarjetaMain">
        <img src="img/pelotamedicinal.jpeg" alt="">
        <div class="contenido">
           <h3>Categoría Pelotas medicionales  </h3>
           <a href="#">Ingresar </a>
    </article>
</main>
<!----------INICIO DE FOOTER--------------------------------------------------------------------------------------------->
<footer>
    <div class="footer-content">
		<div class="footer-section about">
			<h3 class="logo-text">FITHOUSE</h3>
			<p>En FITHOUSE ofrecemos la mejor calidad en lo que es el cuidado fisico de tu cuerpo.</p>
			<div class="contact">
				<span><i class="fas fa-phone"></i> +54 9 999 999 9999</span>
				<span><i class="fas fa-envelope"></i> info@fithouse.com.ar</span>
			</div>
			<div class="socials">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
		<div class="footer-section links">
			<h3>Enlaces útiles</h3>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/productos">Productos</a></li>
				<li><a href="#">Servicios</a></li>
				<li><a href="/quienes-somos">Contáctenos</a></li>
			</ul>
		</div>
		<h3 class="footer-section contact-form">Contactenos</h3>


</footer>
<!----------FIN DE FOOTER--------------------------------------------------------------------------------------------->
</body>
</html>