<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    
    
    <title>silder</title>
</head>
<body>
    
    <section class="container-all">
        <input type="radio" id="1" name="image-slide" hidden/>
        <input type="radio" id="2" name="image-slide" hidden/>
        <input type="radio" id="3" name="image-slide" hidden/>
   

        <article class ="slide">
        
             <div class= "item-slide">
                 <img width="480" src="images/imagen1.jpg"  alt="">  
             </div>

            <div class= "item-slide">
                <img width="480" src="images/imagen2.jpg" alt="">  
             </div>

            <div class= "item-slide">
                <img width="480" src="images/imagen3.jpg" alt="">  
             </div>
        
    </article>  

        <section  class="pagination">
            <label class="pagination-item" for ="1">
                <img  src="images/imagen1.jpg" alt="foto1">
            </label>

            
            <label class="pagination-item" for ="2">
                    <img  src="images/imagen2.jpg" alt="foto2">
            </label>

            
            <label class="pagination-item" for ="3">
                        <img  src="images/imagen3.jpg" alt="foto3">
            </label>

        </section>

    </section>  
    
    



    <article class="contenedor" >
        <section class="tarjeta">
        <img width=200px  src="images/imagen4.jpg" alt="">
        <div class="contenido">
        <h3>titulo articulo 1</h3>
        <P >40% OFF</P>
        <P >titulo 2</P>
        <a href="#">leer mas </a>
        </div>
        </section>
    </article>

    <article class="contenedor" >
        <section class="tarjeta">
        <img width=200px src="images/imagen4.jpg" alt="">
        <div>
        <h3>titulo articulo 2</h3>
        <P >40% OFF</P>
        <P >titulo 2</P>
        <a href="#">leer mas </a>
        </div>
    </article>

    <article class="contenedor" >
        <section class="tarjeta">
        <img width=200px src="images/imagen4.jpg" alt="">
        <div>
        <h3>titulo articulo 3</h3>
        <P >40% OFF</P>
        <P >titulo 3</P>
        <a href="#">leer mas </a>
        </div>
    </article>
    
    


</body>
</html>