<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/productos.css">
    <title>FitH - Productos</title>
</head>
<body>

 <!-- COPIAR HEADERS -->
 <%-include("./partials/header.ejs") %>
<!-- COPIAR HEADERS -->
<!-- MAIN -->
<main>
    <section>
        <div class="banner">
        <img src="/img/banner.png" width="100%">
        </div>
        <div>
        <h2 class="titulo"> BARBELLS</h2>
        </div>
        <article class="it1">
            <div class="division">
                <div>
                     <img src="/img/1.jpg" alt="Imagen 1">
                     <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                     <p class="precios">$ 57.000</p>
                     <p class="descripciones">TRAINING BAR 20KG 2.20MTS A BUJE</p>
                     <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
                </div>
       
            <div class="division">
                <div>
                    <img src="/img/2.jpg" alt="Imagen 2">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 59.120</p>
                    <p class="descripciones">TRAINING BAR 15KG 2.01MTS A RODAMIENTOS</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div>     
       
            <div class="division">
                <div>
                    <img src="/img/3.jpg" alt="Imagen 3">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 60.760</p>
                    <p class="descripciones">TRAINING BAR 20KG 2.20MTS A RODAMIENTOS</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div> 
        
            <div class="division">
                <div>
                    <img src="/img/4.jpg" alt="Imagen 4">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 54.040</p>
                    <p class="descripciones">TRAINING BAR 15KG 2.01MTS A BUJE"</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div>
            <div class="division">
                <div>
                    <img src="/img/5.jpg" alt="Imagen 5">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 79.800</p>
                    <p class="descripciones">ATHLETE BAR 15KG 2.01MTS</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div>     
       
            <div class="division">
                <div>
                    <img src="/img/6.jpg" alt="Imagen 6">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 86.480</p>
                    <p class="descripciones">ELITE BAR 15KG 2.01MTS</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div> 
        
            <div class="division">
                <div>
                    <img src="/img/7.jpg" alt="Imagen 7">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 86.480</p>
                    <p class="descripciones">MAXX BAR 15KG 2.01MTS"</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div>
            <div class="division">
                <div>
                    <img src="/img/8.jpg" alt="Imagen 8">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 66.500</p>
                    <p class="descripciones">JUNIOR BAR 1.70MTS 10KG</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div>     
       
            <div class="division">
                <div>
                    <img src="/img/9.jpg" alt="Imagen 9">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 41.900</p>
                    <p class="descripciones">BARRA OLIMPICA 1.80MTS</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div> 
        
            <div class="division">
                <div>
                    <img src="/img/10.jpg" alt="Imagen 10">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 35.840</p>
                    <p class="descripciones">BARRA OLIMPICA 1.50MTS"</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div>
            <div class="division">
                <div>
                    <img src="/img/11.jpg" alt="Imagen 11">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 55.985</p>
                    <p class="descripciones">BARRA OLIMPICA HEXAGONAL PARA PESO MUERTO</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div>     
       
            <div class="division">
                <div>
                    <img src="/img/12.jpg" alt="Imagen 12">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 26.980</p>
                    <p class="descripciones">BARRA PARA PRINCIPIANTES 10.6 KG</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div> 
        
            <div class="division">
                <div>
                    <img src="/img/13.jpg" alt="Imagen 13">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 22.295</p>
                    <p class="descripciones">BARRA PARA PRINCIPIANTES 8.6 KG"</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div>
            <div class="division">
                <div>
                    <img src="/img/14.jpg" alt="Imagen 14">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 1.890</p>
                    <p class="descripciones">BASTÓN DE MADERA</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div>     
       
            <div class="division">
                <div>
                    <img src="/img/15.jpg" alt="Imagen 15">
                    <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                    <p class="precios">$ 49.230</p>
                    <p class="descripciones">BARRA OLIMPICA 2.20MTS - CROMADA- 17KG</p>
                    <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div> 
        
        </article>
    </section>
</main>
<!-- FIN DEL MAIN -->
<!----------INICIO DE FOOTER--------------------------------------------------------------------------------------------->
<%-include("./partials/footer.ejs") %>
<!----------FIN DE FOOTER--------------------------------------------------------------------------------------------->
</body>
</html>
