<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/quiensomos.css">

    <title>FitH - Nosotros</title>
	<script src=
	"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js">
		</script>
		<style>
			
			.change {
				position: top;
				display: flex;
				flex-direction: row;
				justify-content: center;
				cursor: pointer;
				border: 1px solid #555;
				border-radius: 40%;
				width: 35px;				
				margin-left: 16px;
			}
			.dark{
				background-color: #222;
				color: #e6e6e6;
			}
		</style>
</head>




<body>
<!-- 	<div class="mode">                  
        <span class="change">OFF</span>
    </div>
	<script>
        $( ".change" ).on("click", function() {
            if( $( "body" ).hasClass( "dark" )) {
                $( "body" ).removeClass( "dark" );
                $( ".change" ).text( "OFF" );
            } else {
                $( "body" ).addClass( "dark" );
                $( ".change" ).text( "ON" );
            }
        });
    </script>
   
    
 -->

     <!-- COPIAR HEADERS -->
<header>
    <section id="logo-busqueda">
        <img class="logo" src="/img/LOGO.png" alt="logo">
        <div class="busqueda">
            <input id="barraBusqueda" type="text" placeholder="Buscar productos, marcas">
            <a href="#" id="botonLupa"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        
    </section>
    <nav class="navFlex">
            <ul class="lista1flex">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/carrito">Carrito</a></li>
            </ul>
            <ul class="lista2flex">
                <li><a href="/registro">Creá tu cuenta</a><i id="iconos" class="far fa-id-card"></i></li> 
                <li><a href="/login">Ingresar</a><i id="iconos" class="fas fa-sign-in-alt"></i></li>
                <li><a href="/quienes-somos">Sobre Nosotros</a></li>
            </ul>
        </nav>
        <div class="burger-menu">  
            <i class="fa-solid fa-bars"></i>
        </div>
</header>
<!-- COPIAR HEADERS -->
<!-- MAIN -->
<main class="container">
	<div class="banner">
		<img src="" alt="">
	</div>
	<div class="content">
		<h1>Bienvenido a FITHOUSE</h1>
		<p>En FITHOUSE nos dedicamos a la venta y alquiler de productos de Deportes y Coaching para el mismo, ofreciendo siempre las mejores marcas y los mejores precios.</p>
		<h2>Nuestro Fundador</h2>
		<img class="founder" src="/img/founder.png" alt="founder">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi provident deleniti perferendis.</p>
		<h2>¿Quienes Somos?</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id architecto nisi cum reiciendis minima itaque deleniti rem laborum voluptatibus quos.
		</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est adipisci placeat consequatur sint doloremque quisquam. </p>
		<h3>Productos Destacados</h2>
		<ul>
			<li><a href="#">Mancuernas</a></li>
			<li><a href="#">Kit de Entrenamiento</a></li>
			<li><a href="#">Tobilleras con Peso</a></li>
			<li><a href="#">Botella de Agua Deportivas</a></li>
		</ul>
		<h3>Nuestros Servicios</h2>
		<ul>
			<li><a href="#">Venta de Maquinaria</a></li>
			<li><a href="#">Alquiler de Maquinaria</a></li>
			<li><a href="#">Coaching Profesional</a></li>
		</ul>
		<p>Contáctenos para más información sobre nuestros productos y servicios.</p>
		<a href="#" class="button">Contáctenos</a>
	</div>
	
</main>
<!-- FIN DE MAIN -->
<!----------INICIO DE FOOTER--------------------------------------------------------------------------------------------->
<footer>
    
    <div class="footer-content">
		<div class="footer-section about">
			<h3 class="logo-text">FITHOUSE</h3>
			<p>En FITHOUSE ofrecemos la mejor calidad en lo que es el cuidado fisico de tu cuerpo.</p>
			<div class="contact">
				<span><i class="fas fa-phone"></i> +54 9 999 999 9999</span>
				<span><i class="fas fa-envelope"></i> info@fithouse.com.ar</span>
			</div>
			<div class="socials">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
		<div class="footer-section links">
			<h3>Enlaces útiles</h3>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/productos">Productos</a></li>
				<li><a href="#">Servicios</a></li>
				<li><a href="/quiensomos">Contáctenos</a></li>
			</ul>
		</div>
		<h3 class="footer-section contact-form">Contactenos</h3>


</footer>
<!----------FIN DE FOOTER--------------------------------------------------------------------------------------------->
</body>
</html>