<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/quiensomos.css">

    <title>NOSOTROS</title>
</head>



<body>
    


    <header>

            
        <nav class="header">
            <div class="logo-barraDeBusqueda">
            
            <div class="logo-imagen">
                <a href="#" class="enlace-imagen">
                    <img src="/img/LOGO.png" alt="120" height="120" class="logo">
                </a>
            </div>    
            
    
            
            <div class="barraDeBusqueda">
                
                <form action="" action="">
                <input type="text" name="s" value="" placeholder="Búsqueda en catálogo" class="barra-de-busqueda" autocomplete="off">
                <i class="fa-solid fa-magnifying-glass"></i></form>
    
            </div>
            
            </div>
            
    
            <div class="caja-padre">
                <ul>
                    <li><a class="active" href="/">inicio</a></li>
                    <li><a href="/loggin">ingresar</a></li>
                    <li><a href="#">registrarse</a></li>
                    <li><a href="#">productos</a></li>
                    <li><a href="/quienes-somos">nosotros</a></li>   
                    <li><a href="#">carrito</a></li>   
                </ul>
            </div>    
            
            <div class="bars">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                <i class="fas fa-bars menu"></i>
                </label>
            </div>
        </nav>
           
			<div class="container">
				<div class="banner">
					<img src="" alt="">
				</div>
				<div class="content">
					<h1>Bienvenido a TBA</h1>
					<p>En TBA nos dedicamos a la venta y alquiler de productos de Deportes y Coaching para el mismo, ofreciendo siempre las mejores marcas y los mejores precios.</p>
					<h2>¿Quienes Somos?</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id architecto nisi cum reiciendis minima itaque deleniti rem laborum voluptatibus quos.
					</p>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est adipisci placeat consequatur sint doloremque quisquam. </p>
					<h3>Productos Destacados</h2>
					<ul>
						<li><a href="#">Mancuernas</a></li>
						<li><a href="#">Kit de Entrenamiento</a></li>
						<li><a href="#">Tobilleras con Peso</a></li>
						<li><a href="#">Botella de Agua Deportivas</a></li>
					</ul>
					<h3>Nuestros Servicios</h2>
					<ul>
						<li><a href="#">Venta de Maquinaria</a></li>
						<li><a href="#">Alquiler de Maquinaria</a></li>
						<li><a href="#">Coaching Profesional</a></li>
					</ul>
					<p>Contáctenos para más información sobre nuestros productos y servicios.</p>
					<a href="#" class="button">Contáctenos</a>
				</div>
				<div class="footer">
					<div class="footer-content">
						<div class="footer-section about">
							<h3 class="logo-text">TBA</h3>
							<p>En TBA ofrecemos la mejor calidad en lo que es el cuidado fisico de tu cuerpo.</p>
							<div class="contact">
								<span><i class="fas fa-phone"></i> +54 9 999 999 9999</span>
								<span><i class="fas fa-envelope"></i> info@tba.com.ar</span>
							</div>
							<div class="socials">
								<a href="#"><i class="fab fa-facebook"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-instagram"></i></a>
								<a href="#"><i class="fab fa-youtube"></i></a>
							</div>
						</div>
						<div class="footer-section links">
							<h3>Enlaces útiles</h3>
							<ul>
								<li><a href="#">Inicio</a></li>
								<li><a href="#">Productos</a></li>
								<li><a href="#">Servicios</a></li>
								<li><a href="#">Contáctenos</a></li>
							</ul>
						</div>
						<div class="footer-section contact-form">
							<h3>Contactenos</h3>

   



    <main>
 </header> 
    </main>


    <footer>
        
    </footer>


</body>



</html>