<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="/css/styles.css">

    <title>FitH - Registro</title>
</head>
<header>

    <nav>
       <div class="logo-barraDeBusqueda">
        <div class="logo-imagen">
            <a href="#" class="enlace-imagen">
                <img src="/img/LOGO.png" alt="120" height="120" class="logo">
            </a>
        </div>    

        <div class="barraDeBusqueda">
            
            <form action="" action="">
            <input type="text" name="s" value="" placeholder="Búsqueda en catálogo" class="barra-de-busqueda" autocomplete="off">
        </div>
        <div class="icono-carrito">
        <i class="fa-solid fa-basket-shopping"></i>
        </div>
        <div class="icono-menu">
            <i class="material-icons"></i>
        </div>
     </div>
        <div class="caja-padre">
            <ul>
                <li><a class="active" href="/">inicio</a></li>
                <li><a href="/loggin">ingresar</a></li>
                <li><a href="/registro">registrarse</a></li>
                <li><a href="/productos">productos</a></li>
                <li><a href="/quienes-somos">nosotros</a></li>   
                <li><a href="/carrito">carrito</a></li>   
            </ul>
        </div>    
        <div class="bars">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
            <i class="fas fa-bars menu"></i>
            </label>
        </div>
    </nav>

</header>
<main>
    
</main>