<footer>
    <div class="footer-content">
		<div class="footer-section about">
			<h3 class="logo-text">FITHOUSE</h3>
			<p>En FITHOUSE ofrecemos la mejor calidad en lo que es el cuidado fisico de tu cuerpo.</p>
			<div class="contact">
				<span><i class="fas fa-phone"></i> +54 9 999 999 9999</span>
				<span><i class="fas fa-envelope"></i> info@fithouse.com.ar</span>
			</div>
			<div class="socials">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
		<div class="footer-section links">
			<h3>Enlaces útiles</h3>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/productos">Productos</a></li>
				<li><a href="#">Servicios</a></li>
				<li><a href="/quienSomos">Contáctenos</a></li>
			</ul>
		</div>
		<h3 class="footer-section contact-form">Contactenos</h3>


</footer>